@using Helpers
@model RoomFinder4You.Models.Ad

<a asp-action="Details" asp-controller="Ad" asp-route-id="@Model.Id" style="color: inherit;text-decoration: none;">
    <div class="row mb-3 border border-info" style="--bs-gutter-x:0rem;">
        <div class="col-sm-4 border border-info">
            <div>
                <img class="img-fluid" src="data:@Model.PhotoFormat;base64,@Convert.ToBase64String(Model.MainPhoto)">
            </div>
        </div>

        <div class="col-sm-8 p-2 border border-info">
            <div class="row">
                <h3>@Html.DisplayFor(modelItem => Model.Title)</h3>

            </div>
            <div class="row">
                <h7> @Html.DisplayNameFor(model => Model.room.location.city.Name):
                    @Html.DisplayFor(modelItem =>
                             Model.room.location.city.Name)</h7>
            </div>
            <div class="row">
                <h7>@Html.DisplayNameFor(model => Model.room.location.Place):
                    @Html.DisplayFor(modelItem =>
                             Model.room.location.Place)</h7>
            </div>
            <div class="row text-end">
                <h3>@Html.DisplayFor(modelItem
                             =>
                             Model.room.Price)€
                </h3>
            </div>

        </div>
    </div>
</a>
