@model RoomFinder4You.Models.Ad

@{
    ViewData["Title"] = "Details";
    var featuresMandatory = Model.room.Features.Where(a => a.featureType.IsMandatory).AsEnumerable<Feature>();
    var features = Model.room.Features.Where(a => !a.featureType.IsMandatory).AsEnumerable<Feature>();

}

<h1>Details</h1>

<div>
    <h4>Ad</h4>
    <hr />
    <div class="form-group">
        <img src="data:@Model.PhotoFormat;base64,@Convert.ToBase64String(Model.MainPhoto)" style="max-width: 400px;max-height: 300px;">
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.room.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.room.Price) €
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adStatus.Status)
        </dd>
    </dl>

    <h4>Características do quarto</h4>
    <hr />

        <dl class="row">
        @foreach(var feat in featuresMandatory){
       <dt class = "col-sm-2">
            @feat.featureType.Name
        </dt>
        <dd class = "col-sm-10">
            @feat.Value
        </dd>
        }

    </dl>

    @if(features.Count() != 0){
    <h4>Características adicionais</h4>
    <hr />

     <dl class="row">
        @foreach(var feat in features){
       <dt class = "col-sm-2">
            @feat.featureType.Name
        </dt>
        <dd class = "col-sm-10">
            @feat.Value
        </dd>
        }

    </dl>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
