@model RoomFinder4You.Models.Ad

@{
    ViewData["Title"] = "Editar Anúncio";
    var featureTypesList = ViewBag.FeatureTypesMandatory as IEnumerable<SelectListItem>;
    var featureTypesListNon = ViewBag.FeatureTypesNonMandatory as IEnumerable<SelectListItem>;
    var dict = Model.room.Features;

}

@section Scripts
{
    <script src="@Url.Content("~/js/imageverif.js")"></script>
}

<h1>Editar Anúncio</h1>

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            @*
            <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" style="resize: none;" class="form-control" rows="3">
                    @Model.Description
                </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="room.location.city.Name" class="control-label"></label>
                <select name="cityId" asp-for="room.location.city.Id" class="form-control" asp-items="ViewBag.CityId"
                    required>
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="room.location.Place" class="control-label"></label>
                <input name="place" asp-for="room.location.Place" class="form-control" />
                <span asp-validation-for="room.location.Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="room.Price" class="control-label"></label>
                <input name="Price" asp-for="room.Price" class="form-control" />
                <span asp-validation-for="room.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adStatus" class="control-label"></label>
                <select asp-for="AdStatusId" class="form-control" asp-items="ViewBag.AdStatusId"></select>
            </div>
            <div class="form-group">
                <label class="control-label size-control">Alterar Imagem Principal</label>
                <input type="file" name="imagem" accept="image/*" id="image" class="form-control-file">
            </div>
            <div class="form-group">
                <label class="control-label size-control">Alterar Galeria de Fotos</label>
                <input type="file" name="gallery" accept="image/*" id="images" class="form-control-file" multiple>
            </div>
            <div class="alert alert-info mt-2" id="warnMessage" role="alert">
                Todas as imagens devem ter pelo menos 550 pixels de largura.
            </div>
            <hr />
            <h3> Características do quarto</h3>
            @foreach (var item in featureTypesList)
            {
                <div class="form-group">
                    <label class="control-label">@item.Text<span class="text-danger">*</span></label>
                    <input type="text"
                        asp-for="@dict.Where(feat => feat.featureType.Initials.Equals(item.Value)).FirstOrDefault().Value"
                        name="@item.Value" class="form-control" required />
                </div>
            }
            <p class="text-danger">Características marcadas com '*' são obrigatórias!</p>
            <hr />

            <h3> Características adicionais</h3>
            @foreach (var item in featureTypesListNon)
            {
                <div class="form-group">
                    <label class="control-label">@item.Text</label>
                    <input type="text"
                        asp-for="@dict.Where(feat => feat.featureType.Initials.Equals(item.Value)).FirstOrDefault().Value"
                        id="@item.Value" name="@item.Value" class="form-control" />
                </div>
            }
            <hr />
            <div class="form-group text-center row">
                <div class="col"> <a asp-action="Index" style="min-width: 150px;"
                        class="btn btn-secondary mt-1 ">Voltar</a>
                </div>
                <div class="col">
                    <input type="submit" style="min-width: 150px;" value="Guardar" class="btn btn-primary mt-1" />
                </div>
            </div>
        </form>
    </div>
</div>
