@model IEnumerable<RoomFinder4You.Models.Ad>

@{
    ViewData["Title"] = "Meus anúncios";
}



<div class="row align-items-end">
    <div class="col">
        <h1>Meus anúncios</h1>
    </div>
    <div class="col">
        <h3 class="text-end"> <a asp-action="Create">Adicionar Anúncio</a>
        </h3>
    </div>
</div>

<hr />



<div class="col m-5">
    @if (Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            <div class="row mb-3 border border-info" style="--bs-gutter-x:0rem;">
                <div class="col-sm-3 border border-light">
                    <div>
                        <img class="img-fluid" src="data:@item.PhotoFormat;base64,@Convert.ToBase64String(item.MainPhoto)">
                    </div>
                </div>

                <div class="col-sm-6 p-3 border border-light">
                    <div class="row mt-2">
                        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>

                    </div>
                    <div class="row mt-3">
                        <h7> @Html.DisplayNameFor(model => model.room.location.city.Name): @Html.DisplayFor(modelItem =>
                    item.room.location.city.Name)</h7>
                    </div>
                    <div class="row">
                        <h7>@Html.DisplayNameFor(model => model.room.location.Place): @Html.DisplayFor(modelItem =>
                    item.room.location.Place)</h7>
                    </div>
                    <div class="row">
                        <h7>@Html.DisplayNameFor(model => model.ViewNumber): @Html.DisplayFor(modelItem => item.ViewNumber)</h7>
                    </div>
                    <div class="row">
                        <h7>@Html.DisplayNameFor(model => model.ClickNumber): @Html.DisplayFor(modelItem => item.ClickNumber)
                        </h7>
                    </div>


                </div>
                <div class="col-sm-1 p-3 border border-info d-flex align-items-center justify-content-center"> <a
                        asp-action="Details" asp-route-id="@item.Id">
                        <img src="/svg/view-simple-815-svgrepo-com.svg" alt="" class="img-fluid"></a>
                </div>

                <div class="col-sm-1 p-3 border border-info d-flex align-items-center justify-content-center"> <a
                        asp-action="Edit" asp-route-id="@item.Id">
                        <img src="/svg/edit-svgrepo-com.svg" alt="" class="img-fluid"></a>
                </div>
                <div class="col-sm-1 p-3 border border-info d-flex align-items-center justify-content-center"> <a
                        asp-action="Delete" asp-route-id="@item.Id"><img src="/svg/delete-svgrepo-com.svg" alt=""
                            class="img-fluid col d-flex align-items-center justify-content-center"></a>
                </div>


            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                Sem anúncios
            </div>
            <div class="card-body">
                <p class="card-text">Ainda não possuí anúncios na sua conta, crie um para o quarto que pretende arrender.
                </p>
                <a asp-action="Create" class="btn btn-primary">Adicionar</a>
            </div>
        </div>
    }
</div>
