@model IEnumerable<RoomFinder4You.Models.Ad>

@{
    ViewData["Title"] = "Meus anúncios";
}

<div class="row align-items-end">
    <div class="col">
        <h1>Meus anúncios</h1>
    </div>
    <div class="col">
        <h3 class="text-end"> <a asp-action="Create">Adicionar Anúncio</a>
        </h3>
    </div>
</div>




<div class="col m-5">
    @foreach (var item in Model)
    {
        <div class="row mb-3 border border-primary" style="--bs-gutter-x:0rem;">
            <div class="col-sm-3 border-right border-primary">
                <div>
                    <img class="img-fluid" src="data:@item.PhotoFormat;base64,@Convert.ToBase64String(item.MainPhoto)">
                </div>
            </div>

            <div class="col-sm-7 p-3 border border-primary">
                <div class="row mt-2">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>

                </div>
                <div class="row mt-3">
                    <h7> @Html.DisplayNameFor(model => model.room.location.city.Name): @Html.DisplayFor(modelItem =>
                    item.room.location.city.Name)</h7>
                </div>
                <div class="row">
                    <h7>@Html.DisplayNameFor(model => model.room.location.Place): @Html.DisplayFor(modelItem =>
                    item.room.location.Place)</h7>
                </div>
                <div class="row">
                    <h7>@Html.DisplayNameFor(model => model.ViewNumber): @Html.DisplayFor(modelItem => item.ViewNumber)</h7>
                </div>
                <div class="row">
                    <h7>@Html.DisplayNameFor(model => model.ClickNumber): @Html.DisplayFor(modelItem => item.ClickNumber)
                    </h7>
                </div>


            </div>
            <div class="col-sm-1 border border-primary d-flex align-items-center justify-content-center"> <a
                    asp-action="Edit" asp-route-id="@item.Id">
                    <img src="/svg/edit-svgrepo-com.svg" alt="" class="img-fluid"></a>
            </div>
            <div class="col-sm-1 border border-primary d-flex align-items-center justify-content-center"> <a
                    asp-action="Delete" asp-route-id="@item.Id"><img src="/svg/delete-svgrepo-com.svg" alt=""
                        class="img-fluid col d-flex align-items-center justify-content-center"></a>
            </div>


        </div>
    }
</div>




@{
    /*

    <table class="table">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.Title)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Description)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.room.Price)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.adStatus.Status)
    </th>
    <th>Operações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.room.Price) €
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.adStatus.Status)
    </td>
    <td>
    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
    </td>
    </tr>
    }
    </tbody>
    </table>
    */
}