@model IEnumerable<RoomFinder4You.Models.Ad>

@{
    ViewData["Title"] = "Meus anúncios";
}

<h1>Meus anúncios</h1>

<p>
    <a asp-action="Create">Adicionar Anúncio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adStatus.Status)
            </th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room.Price) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adStatus.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
